{% extends "Publico/plantilla.html" %}

{%  load static %}

{% block title %}Inicio{% endblock %}

{% block content %}
<div id="banner-area" class="banner-area" style="background-image:url(images/banner/banner1.jpg)">
    <div class="banner-text">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="banner-heading">
              <h1 class="banner-title">Calendario</h1>
            </div>
          </div><!-- Col end -->
        </div><!-- Row end -->
      </div><!-- Container end -->
    </div><!-- Banner text end -->
  </div><!-- Banner area end -->

  <section id="main-container" class="main-container">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mb-5 mb-lg-0">
          <div class="shuffle-btn-group">
            <label class="active" for="2022">
              <input type="radio" name="shuffle-filter" id="2022" value="2022">2022
            </label>
            <label for="Enero">
              <input type="radio" name="shuffle-filter" id="Enero" value="Enero">Enero
            </label>
            <label for="Febrero">
              <input type="radio" name="shuffle-filter" id="Febrero" value="Febrero">Febrero
            </label>
            <label for="Marzo">
              <input type="radio" name="shuffle-filter" id="Marzo" value="Marzo">Marzo
            </label>
            <label for="Abril">
              <input type="radio" name="shuffle-filter" id="Abril" value="Abril">Abril
            </label>
            <label for="Mayo">
              <input type="radio" name="shuffle-filter" id="Mayo" value="Mayo">Mayo
            </label>
            <label for="Junio">
              <input type="radio" name="shuffle-filter" id="Junio" value="Junio">Junio
            </label>
            <label for="Julio">
              <input type="radio" name="shuffle-filter" id="Julio" value="Julio">Julio
            </label>
            <label for="Agosto">
              <input type="radio" name="shuffle-filter" id="Agosto" value="Agosto">Agosto
            </label>
            <label for="Septiembre">
              <input type="radio" name="shuffle-filter" id="Septiembre" value="Septiembre">Septiembre
            </label>
            <label for="Octubre">
              <input type="radio" name="shuffle-filter" id="Octubre" value="Octubre">Octubre
            </label>
            <label for="Noviembre">
              <input type="radio" name="shuffle-filter" id="Noviembre" value="Noviembre">Noviembre
            </label>
            <label for="Diciembre">
              <input type="radio" name="shuffle-filter" id="Diciembre" value="Diciembre">Diciembre
            </label>
          </div><!-- project filter end -->


          <div class="row shuffle-wrapper">
            <div class="col-12 shuffle-sizer"></div>

            <div class="col-lg-12 col-md-6 shuffle-item" data-groups="[&quot;2022&quot;,&quot;Junio&quot;]">


              <div class="row">
                <div class="col-lg-5">
                  <div class="post">
                    <div class="post-media post-image">
                      <img loading="lazy" src="images/calendarioJunio.png" class="img-fluid" alt="post-image">
                    </div>
                  </div>

                </div><!-- Col end -->

                <div class="col-lg-7">
                  <h3 class="into-sub-title">Actividades del mes de Junio</h3>

                  <div class="accordion accordion-group" id="our-values-accordion">
                    <div class="card">
                      <div class="card-header p-0 bg-transparent" id="headingOne">
                        <h2 class="mb-0">
                          <button class="btn btn-block text-left" type="button" data-toggle="collapse"
                            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            07-06-2022 CERRO MANQUEHUITO
                          </button>
                        </h2>
                      </div>

                      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                        data-parent="#our-values-accordion">
                        <div class="card-body">
                          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                          squid. 3 wolf moon officia aute, non cupidata
                        </div>
                        <div class="justify-content-center vista" id="registrado" style="display:none;">
                          <a class="btn btn-primary" data-toggle="modal" data-target="#myModal">Inscribir</a>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header p-0 bg-transparent" id="headingTwo">
                        <h2 class="mb-0">
                          <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            14-06-2022 LAS PALMAS DE OCOA
                          </button>
                        </h2>
                      </div>
                      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                        data-parent="#our-values-accordion">
                        <div class="card-body">
                          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                          squid. 3 wolf moon officia aute, non cupidata
                        </div>
                        <div class="justify-content-center vista" id="registrado" style="display:none;">
                          <a class="btn btn-primary" href="#">Inscribir</a>
                        </div>

                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header p-0 bg-transparent" id="headingThree">
                        <h2 class="mb-0">
                          <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            28-06-2022 CERRO PROVINCIA
                          </button>
                        </h2>
                      </div>
                      <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                        data-parent="#our-values-accordion">
                        <div class="card-body">
                          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                          squid. 3 wolf moon officia aute, non cupidata
                        </div>
                        <div class="justify-content-center vista" id="registrado" style="display:none;">
                          <a class="btn btn-primary" href="#">Inscribir</a>
                        </div>
                      </div>
                    </div>
                    <div class="gap-40"></div>
                  </div>
                  <!--/ Accordion end -->

                </div><!-- Col end -->
              </div><!-- Row end -->

            </div><!-- shuffle item 1 end -->
            <div class="col-lg-12 col-md-6 shuffle-item"
              data-groups="[&quot;2022&quot;,&quot;Enero&quot;,&quot;Febrero&quot;,&quot;Marzo&quot;,&quot;Abril&quot;,&quot;Mayo&quot;
        ,&quot;Julio&quot;,&quot;Agosto&quot;,&quot;Septiembre&quot;,&quot;Octubre&quot;,&quot;Noviembre&quot;,&quot;Diciembre&quot;]">


              <div class="row">
                <div class="col-lg-5">
                  <div class="post">
                    <div class="post-media post-image">
                      <img loading="lazy" src="images/calendario.png" class="img-fluid" alt="post-image">
                    </div>
                  </div>

                </div><!-- Col end -->

                <div class="col-lg-7">
                  <h3 class="into-sub-title">Actividades del mes de XXXX</h3>

                  <div class="accordion accordion-group" id="our-values-accordion">
                    <div class="card">
                      <div class="card-header p-0 bg-transparent" id="headingOne">
                        <h2 class="mb-0">
                          <button class="btn btn-block text-left" type="button" data-toggle="collapse"
                            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            XX-XX-2022 CERRO MANQUEHUITO
                          </button>
                        </h2>
                      </div>

                      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                        data-parent="#our-values-accordion">
                        <div class="card-body">
                          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                          squid. 3 wolf moon officia aute, non cupidata
                        </div>
                        <div class="justify-content-center vista" id="registrado" style="display:none;">
                          <a class="btn btn-primary" href="#">Inscribir</a>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header p-0 bg-transparent" id="headingTwo">
                        <h2 class="mb-0">
                          <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            XX-XX-2022 LAS PALMAS DE OCOA
                          </button>
                        </h2>
                      </div>
                      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                        data-parent="#our-values-accordion">
                        <div class="card-body">
                          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                          squid. 3 wolf moon officia aute, non cupidata
                        </div>
                        <div class="justify-content-center vista" id="registrado" style="display:none;">
                          <a class="btn btn-primary" href="#">Inscribir</a>
                        </div>

                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header p-0 bg-transparent" id="headingThree">
                        <h2 class="mb-0">
                          <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            XX-XX-2022 CERRO PROVINCIA
                          </button>
                        </h2>
                      </div>
                      <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                        data-parent="#our-values-accordion">
                        <div class="card-body">
                          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                          squid. 3 wolf moon officia aute, non cupidata
                        </div>
                        <div class="justify-content-center vista" id="registrado" style="display:none;">
                          <a class="btn btn-primary" href="#">Inscribir</a>
                        </div>
                      </div>
                    </div>
                    <div class="gap-40"></div>
                  </div>
                  <!--/ Accordion end -->

                </div><!-- Col end -->
              </div><!-- Row end -->

            </div><!-- shuffle item 1 end -->

          </div><!-- shuffle end -->
        </div>


        <div class="col-lg-4">

          <div class="sidebar sidebar-right">
            <div class="widget recent-posts">
              <h3 class="widget-title">noticas destacadas</h3>
              <ul class="list-unstyled">
                <li class="d-flex align-items-center">
                  <div class="posts-thumb">
                    <a href="#"><img loading="lazy" alt="img" src="images/news/news1.jpg"></a>
                  </div>
                  <div class="post-info">
                    <h4 class="entry-title">
                      <a href="#">Nueva Ruta Para El Mes De Junio</a>
                    </h4>
                  </div>

                </li>
                <li class="d-flex align-items-center">
                  <div class="post-info">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                      labore et
                      dolore magna aliqua. Excepteur ...</p>
                  </div>
                </li><!-- 1st post end-->

                <li class="d-flex align-items-center">
                  <div class="posts-thumb">
                    <a href="#"><img loading="lazy" alt="img" src="images/news/news2.jpg"></a>
                  </div>
                  <div class="post-info">
                    <h4 class="entry-title">
                      <a href="#">Salida Anual A Puerto Varas</a>
                    </h4>
                  </div>
                </li>
                <li class="d-flex align-items-center">
                  <div class="post-info">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                      labore et
                      dolore magna aliqua. Excepteur ...</p>
                  </div>
                </li><!-- 2nd post end-->

                <li class="d-flex align-items-center">
                  <div class="posts-thumb">
                    <a href="#"><img loading="lazy" alt="img" src="images/news/news3.jpg"></a>
                  </div>
                  <div class="post-info">
                    <h4 class="entry-title">
                      <a href="#">Conoce A Nuestro Nuevo Instructor</a>
                    </h4>
                  </div>
                </li>
                <li class="d-flex align-items-center">
                  <div class="post-info">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                      labore et
                      dolore magna aliqua. Excepteur ...</p>
                  </div>
                </li><!-- 3rd post end-->

              </ul>

            </div><!-- Recent post end -->

          </div><!-- Archives end -->


        </div><!-- Content row end -->

        <!-- Modal inscripcion -->
        <div id="myModal" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-body">
                <form>
                  <h2>Inscripción</h2>
                  <br><br>
                  <h4>Destino</h4>
                  <p>CERRO MANQUEHUITO</p>

                  <h4>Fecha</h4>
                  <p>07-06-2022</p>
                  <h4>Valor</h4>
                  <p>$10.000</p>
                  <br>
                  <h5>Seleccione apagar para dirigirlos a los metodos de pago</h5>
                  <p>Una vez paga recibirá una confirmación de pago en su correo</p>
                  <br><br>
                  <div class="row">
                    <div class="col-sm-6 col- text-left"><button type="button" class="btn btn-primary"
                        data-dismiss="modal">Close</button></div>

                    <div class="col-sm-6 text-right"><button type="button submit"
                        class="btn btn-primary">Pagar</button></div>

                  </div>

                  <br>

                </form>
              </div>

            </div>

          </div>
        </div>

      </div><!-- Conatiner end -->
  </section><!-- Main container end -->
{%  endblock %}