{% extends "Publico/plantilla.html" %}

{%  load static %}

{% block title %}Inicio{% endblock %}

{% block content %}
<div id="banner-area" class="banner-area" style="background-image:url(images/banner/banner4.jpg)">
    <div class="banner-text">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="banner-heading">
              <h1 class="banner-title">Galería</h1>
            </div>
          </div><!-- Col end -->
        </div><!-- Row end -->
      </div><!-- Container end -->
    </div><!-- Banner text end -->
  </div><!-- Banner area end -->

  <section id="main-container" class="main-container">

    <div class="container ">
      <div class="row vista" id="admin" style="display: none;">
        <div class="col-12">
          <h2>Agregar Nuevo Album</h2>
          <br>
          <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Cargar Album</button>

        </div>
      </div><!-- Content row end -->

    </div><!-- Conatiner end -->

    <div class="container ">
      <div class="row vista" id="registrado" style="display: inline;">
        <div class="col-12">
          <h2>Mis fotos</h2>
          <br>

          <div class="row shuffle-wrapper">
            <div class="col-1 shuffle-sizer"></div>

            <div class="col-lg-4 col-md-6 shuffle-item">
              <div class="project-img-container ">
                <div class="vista" id="registrado" style="display: inline ;"><a class="gallery-popup"
                    href="images/projects/cerro-manquehito.webp">
                    <img class="img-fluid" src="static/Publico/images/projects/cerro-manquehito.webp" alt="project-image" height="360px" width="180 px">
                  </a>
                  <div class="project-item-info">
                    <div class="project-item-info-content">
                      <h3 class="project-item-title">
                        <a href="galeria1.html">Cerro Manquehuito</a>
                      </h3>
                      <p class="project-cat">Marzo 2022</p>
                    </div>
                  </div>
                </div>


              </div>
            </div><!-- shuffle item 1 end -->

            <div class="col-lg-4 col-md-6 shuffle-item">
              <div class="project-img-container">
                <a class="gallery-popup" href="images/projects/palmas-ocoa.jpg">
                  <img class="img-fluid" src="images/projects/palmas-ocoa.jpg" alt="project-image">
                </a>
                <div class="project-item-info">
                  <div class="project-item-info-content">
                    <h3 class="project-item-title">
                      <a href="galeria1.html">Las Palmas de Ocoa</a>
                    </h3>
                    <p class="project-cat">Marzo 2022</p>
                  </div>
                </div>
              </div>
            </div><!-- shuffle item 2 end -->

            <div class="col-lg-4 col-md-6 shuffle-item">
              <div class="project-img-container">
                <a class="gallery-popup" href="images/projects/cerro-el-roble.webp">
                  <img class="img-fluid" src="images/projects/cerro-el-roble.webp" alt="project-image">
                </a>
                <div class="project-item-info">
                  <div class="project-item-info-content">
                    <h3 class="project-item-title">
                      <a href="galeria1.html">Cerro El Roble</a>
                    </h3>
                    <p class="project-cat">Abril 2022</p>
                  </div>
                </div>
              </div>
            </div><!-- shuffle item 3 end -->

          </div><!-- shuffle end -->



        </div>
      </div><!-- Content row end -->

    </div><!-- Conatiner end -->


    <div class="container ">
      <div class="row vista" id="admin" style="display: none ;">
        <div class="col-12">
          <h2>Mis fotos</h2>
          <br>

          <div class="row shuffle-wrapper">
            <div class="col-1 shuffle-sizer"></div>

            <div class="col-lg-4 col-md-6 shuffle-item">
              <div class="project-img-container ">
                <div class="vista" id="registrado" style="display: inline ;"><a class="gallery-popup"
                    href="images/projects/cerro-manquehito.webp">
                    <img class="img-fluid" src="images/projects/cerro-manquehito.webp" alt="project-image">
                  </a>
                  <div class="project-item-info">
                    <div class="project-item-info-content">
                      <h3 class="project-item-title">
                        <a href="galeria1.html">Cerro Manquehuito</a>
                      </h3>
                      <p class="project-cat">Marzo 2022</p>
                    </div>
                  </div>
                </div>


              </div>
            </div><!-- shuffle item 1 end -->

            <div class="col-lg-4 col-md-6 shuffle-item">
              <div class="project-img-container">
                <a class="gallery-popup" href="images/projects/palmas-ocoa.jpg">
                  <img class="img-fluid" src="images/projects/palmas-ocoa.jpg" alt="project-image">
                </a>
                <div class="project-item-info">
                  <div class="project-item-info-content">
                    <h3 class="project-item-title">
                      <a href="galeria1.html">Las Palmas de Ocoa</a>
                    </h3>
                    <p class="project-cat">Marzo 2022</p>
                  </div>
                </div>
              </div>
            </div><!-- shuffle item 2 end -->

            <div class="col-lg-4 col-md-6 shuffle-item">
              <div class="project-img-container">
                <a class="gallery-popup" href="images/projects/cerro-el-roble.webp">
                  <img class="img-fluid" src="images/projects/cerro-el-roble.webp" alt="project-image">
                </a>
                <div class="project-item-info">
                  <div class="project-item-info-content">
                    <h3 class="project-item-title">
                      <a href="galeria1.html">Cerro El Roble</a>
                    </h3>
                    <p class="project-cat">Abril 2022</p>
                  </div>
                </div>
              </div>
            </div><!-- shuffle item 3 end -->

          </div><!-- shuffle end -->



        </div>
      </div><!-- Content row end -->

    </div><!-- Conatiner end -->


    <br>

    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>Fotos</h2>
          <br>
          <div class="row shuffle-wrapper">
            <div class="col-lg-4 col-md-6 shuffle-item">
              <div class="project-img-container">
                <a class="gallery-popup" href="images/projects/cerro-manquehito.webp">
                  <img class="img-fluid" src="images/projects/cerro-manquehito.webp" alt="project-image">
                </a>
                <div class="project-item-info">
                  <div class="project-item-info-content">
                    <h3 class="project-item-title">
                      <a href="galeria1.html">Cerro Manquehuito</a>
                    </h3>
                    <p class="project-cat">Marzo 2022</p>
                  </div>
                </div>
              </div>
            </div><!-- shuffle item 1 end -->

            <div class="col-lg-4 col-md-6 shuffle-item">
              <div class="project-img-container">
                <a class="gallery-popup" href="images/projects/palmas-ocoa.jpg">
                  <img class="img-fluid" src="images/projects/palmas-ocoa.jpg" alt="project-image">
                </a>
                <div class="project-item-info">
                  <div class="project-item-info-content">
                    <h3 class="project-item-title">
                      <a href="galeria1.html">Las Palmas de Ocoa</a>
                    </h3>
                    <p class="project-cat">Marzo 2022</p>
                  </div>
                </div>
              </div>
            </div><!-- shuffle item 2 end -->

            <div class="col-lg-4 col-md-6 shuffle-item">
              <div class="project-img-container">
                <a class="gallery-popup" href="images/projects/cerro-el-roble.webp">
                  <img class="img-fluid" src="images/projects/cerro-el-roble.webp" alt="project-image">
                </a>
                <div class="project-item-info">
                  <div class="project-item-info-content">
                    <h3 class="project-item-title">
                      <a href="galeria1.html">Cerro El Roble</a>
                    </h3>
                    <p class="project-cat">Abril 2022</p>
                  </div>
                </div>
              </div>
            </div><!-- shuffle item 3 end -->

            <div class="col-lg-4 col-md-6 shuffle-item"
              data-groups="[&quot;education&quot;,&quot;infrastructure&quot;]">
              <div class="project-img-container">
                <a class="gallery-popup" href="images/projects/cerro-manquehue.jpg">
                  <img class="img-fluid" src="images/projects/cerro-manquehue.jpg" alt="project-image">
                </a>
                <div class="project-item-info">
                  <div class="project-item-info-content">
                    <h3 class="project-item-title">
                      <a href="galeria1.html">Cerro Manquehue</a>
                    </h3>
                    <p class="project-cat">Abril 2022</p>
                  </div>
                </div>
              </div>
            </div><!-- shuffle item 4 end -->

            <div class="col-lg-4 col-md-6 shuffle-item"
              data-groups="[&quot;infrastructure&quot;,&quot;education&quot;]">
              <div class="project-img-container">
                <a class="gallery-popup" href="images/projects/cerro-pochoco.webp">
                  <img class="img-fluid" src="images/projects/cerro-pochoco.webp" alt="project-image">
                </a>
                <div class="project-item-info">
                  <div class="project-item-info-content">
                    <h3 class="project-item-title">
                      <a href="galeria1.html">Cerro Pochoco</a>
                    </h3>
                    <p class="project-cat">Mayo 2022</p>
                  </div>
                </div>
              </div>
            </div><!-- shuffle item 5 end -->

            <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;residential&quot;]">
              <div class="project-img-container">
                <a class="gallery-popup" href="images/projects/aguas-de-ramon.jpg">
                  <img class="img-fluid" src="images/projects/aguas-de-ramon.jpg" alt="project-image">
                </a>
                <div class="project-item-info">
                  <div class="project-item-info-content">
                    <h3 class="project-item-title">
                      <a href="galeria1.html">Parque Natural Aguas de Ramón (Salto de Apoquindo)</a>
                    </h3>
                    <p class="project-cat">Mayo 2022</p>
                  </div>
                </div>
              </div>
            </div><!-- shuffle item 6 end -->

            <div class="col-lg-4 col-md-6 shuffle-item"
              data-groups="[&quot;education&quot;,&quot;infrastructure&quot;]">
              <div class="project-img-container">
                <a class="gallery-popup" href="images/projects/cerro-campana.webp">
                  <img class="img-fluid" src="images/projects/cerro-campana.webp" alt="project-image">
                </a>
                <div class="project-item-info">
                  <div class="project-item-info-content">
                    <h3 class="project-item-title">
                      <a href="galeria1.html">Cerro La Campana</a>
                    </h3>
                    <p class="project-cat">Febrero 2022</p>
                  </div>
                </div>
              </div>
            </div><!-- shuffle item 7 end -->

            <div class="col-lg-4 col-md-6 shuffle-item"
              data-groups="[&quot;infrastructure&quot;,&quot;education&quot;]">
              <div class="project-img-container">
                <a class="gallery-popup" href="images/projects/glaciar-colgante.webp">
                  <img class="img-fluid" src="images/projects/glaciar-colgante.webp" alt="project-image">
                </a>
                <div class="project-item-info">
                  <div class="project-item-info-content">
                    <h3 class="project-item-title">
                      <a href="galeria1.html">Glaciar Colgante del Morado</a>
                    </h3>
                    <p class="project-cat">Mayo 2022</p>
                  </div>
                </div>
              </div>
            </div><!-- shuffle item 8 end -->

            <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;residential&quot;]">
              <div class="project-img-container">
                <a class="gallery-popup" href="images/projects/cerro-carpa.webp">
                  <img class="img-fluid" src="images/projects/cerro-carpa.webp" alt="project-image">
                </a>
                <div class="project-item-info">
                  <div class="project-item-info-content">
                    <h3 class="project-item-title">
                      <a href="galeria1.html">Cerro Carpa</a>
                    </h3>
                    <p class="project-cat">Marzo 2022</p>
                  </div>
                </div>
              </div>
            </div><!-- shuffle item 9 end -->
          </div>
          <br>
        </div>
      </div>
    </div>


  </section><!-- Main container end -->
  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <form>
            <h2>Nuevo Album</h2>
            <br><br>

            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Nombre del Album</label>
              <input type="text" class="form-control" placeholder="Nombre Album" required>
            </div>
            <br>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Fecha de Salida</label>
              <input type="number" class="form-control" placeholder="dia" required> -
              <input type="number" class="form-control" placeholder="mes" required> -
              <input type="number" class="form-control" placeholder="año" required>
            </div>
            <br>
            <label for="exampleFormControlInput1" class="form-label">Tipo de Album</label> <br>
            <input type="radio" id="publico" name="tipo-album" value="publico">
            <label for="publico">Público</label><br>
            <input type="radio" id="privado" name="tipo-album" value="privado">
            <label for="age3">Privado</label><br><br>
            <br>
            <div><button class="btn btn-primary" type="button">Agregar fotos</button>
            </div>
            <br><br><br>

            <div class="row">
              <div class="col-sm-6 col- text-left"><button type="button" class="btn btn-primary"
                  data-dismiss="modal">Close</button></div>

              <div class="col-sm-6 text-right"><button type="button submit" class="btn btn-primary">Subir
                  Album</button></div>

            </div>

            <br>

          </form>
        </div>

      </div>

    </div>
  </div>
{%  endblock %}