{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>

  <!-- Basic Page Needs y TITULO CAMBIANTE
================================================== -->
  <meta charset="utf-8">
  <title> {% block title %} {% endblock %}</title>

  <!-- Mobile Specific Metas
================================================== -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Construction Html5 Template">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">

  <!-- Favicon
================================================== -->
  <link rel="icon" type="image/png" href="{% static '/images/favicon.png' %}">
    
  <!-- CSS - Bootstrap -->
  <link rel="stylesheet" href="{% static '/plugins/bootstrap/bootstrap.min.css' %}">
  <!-- FontAwesome -->
  <link rel="stylesheet" href="{% static '/plugins/fontawesome/css/all.min.css' %}">
  <!-- Animation -->
  <link rel="stylesheet" href="{% static '/plugins/animate-css/animate.css' %}">
  <!-- slick Carousel -->
  <link rel="stylesheet" href="{% static '/plugins/slick/slick.css' %}">
  <link rel="stylesheet" href="{% static '/plugins/slick/slick-theme.css' %}">
  <!-- Colorbox -->
  <link rel="stylesheet" href="{% static '/plugins/colorbox/colorbox.css' %}">
  <!-- Template styles-->
  <link rel="stylesheet" href="{% static '/css/style.css' %}">
    
</head>
    
<body>
      <div class="body-inner">
        <!-- Header start -->
        <header id="header" class="header-one">
          <div class="bg-white">
            <div class="container">
              <div class="logo-area">
                <div class="row align-items-center">
                  <div class="logo col-lg-3 text-center text-lg-left mb-3 mb-md-5 mb-lg-0">
                    <a class="d-block" href="#">
                      <img loading="lazy" src="{% static '/images/logo.png' %}" alt="Trek Chile">
                    </a>
                  </div><!-- logo end -->
    
                  <div class="col-lg-9 header-right">
                    <ul class="top-info-box">
                      <li>
                        <div class="info-box">
                          <div class="info-box-content">
                            <p class="info-box-title">Llámanos</p>
                            <p class="info-box-subtitle"><a href="tel:(+562) 77 77 7777">(+562) 77 77 7777</a></p>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="info-box">
                          <div class="info-box-content">
                            <p class="info-box-title">Escríbenos</p>
                            <p class="info-box-subtitle"><a href="mailto:office@Constra.com">contacto@trekchile.cl</a></p>
                          </div>
                        </div>
                      </li>
                    </ul><!-- Ul end -->
                  </div><!-- header right end -->
                </div><!-- logo area end -->
    
              </div><!-- Row end -->
            </div><!-- Container end -->
          </div>
    
          <div class="site-navigation">
            <div class="container">
              <div class="row">
                <div class="col-lg-9">
                  <nav class="navbar navbar-expand-lg navbar-dark p-0">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                      aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
    
                    <div id="navbar-collapse" class="collapse navbar-collapse">
                      <ul class="nav navbar-nav mr-auto">
                        <li class="nav-item"><a class="nav-link" href="index.html">Inicio</a></li>
    
                        <li class="nav-item dropdown">
                          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Rutas <i
                              class="fa fa-angle-down"></i></a>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="rutas.html">Listado de rutas</a></li>
                            <li><a href="calendario.html">Calendario de rutas</a></li>
                          </ul>
                        </li>
    
                        <li class="nav-item"><a class="nav-link" href="galeria.html">Galería</a></li>
    
                        <li class="nav-item dropdown">
                          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Preguntas <i
                              class="fa fa-angle-down"></i></a>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="foro-preguntas.html">Foro de Preguntas</a></li>
                            <li><a href="faq.html">Preguntas frecuentes</a></li>
                          </ul>
                        </li>
    
                        <li class="nav-item"><a class="nav-link" href="noticias.html">Noticias</a></li>
    
                        <li class="nav-item"><a class="nav-link" href="contact.html">Contacto</a></li>
                      </ul>
                    </div>
                  </nav>
                </div>
                <!--/ Col end -->
                <div class="col-lg-3">
                  <nav class="navbar navbar-expand-lg navbar-dark p-0">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                      aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
    
                    <div id="navbar-collapse" class="collapse navbar-collapse">
                      <ul class="nav navbar-nav mr-auto">
    
                        <li class="nav-item vista" id="general" style="display: inline ;"><a class="nav-link"
                            href="login.html">Iniciar</a></li>
    
                        <li class="nav-item vista" id="registrado" style="display: none ;"><a class="nav-link"
                            href="perfil.html">Perfil</a></li>
    
                      </ul>
                    </div>
                  </nav>
                </div>
              </div>
              <!--/ Row end -->
            </div>
            <!--/ Container end -->
    
          </div>
          <!--/ Navigation end -->
        </header>
        <!--/ Header end -->

        {% block content %} {% endblock %}

        <footer id="footer" class="footer bg-overlay">
          <div class="footer-main">
            <div class="container">
              <div class="row justify-content-between">
                <div class="col-lg-4 col-md-6 footer-widget footer-about">
                  <h3 class="widget-title">Ubicación</h3>
                  <img loading="lazy" width="200px" class="footer-logo" src="{% static '/images/footer-logo.png' %}" alt="TrekkChile">
                  <p>Nuestra oficina está ubicada en Calle Los Aromos 767, Peñalolén. Santiago.</p>
                  <p>Fono: +569 77 77 7777</p>
                </div><!-- Col end -->
    
                <div class="col-lg-4 col-md-6 footer-widget mt-5 mt-md-0">
                  <h3 class="widget-title">Horario de atención</h3>
                  <div class="working-hours">
                    Estamos atentos a tus requerimientos los 7 días de la semana,
                    independiente de los horarios de las rutas.
                    <br><br> Lunes a Sábado: <span class="text-right">09:00 - 18:00 </span>
                    <br> Domingo y Festivos: <span class="text-right">09:00 - 12:00</span>
                  </div>
                </div><!-- Col end -->
    
                <div class="col-lg-3 col-md-6 mt-5 mt-lg-0 footer-widget">
                  <h3 class="widget-title">Redes Sociales</h3>
                  <ul class="list-arrow">
    
                    <li><a href="https://facebook.com/themefisher" aria-label="Facebook"><i
                          class="fab fa-facebook-f"></i>&nbsp;&nbsp;&nbsp;&nbsp;Facebook</a></li>
                    <li><a href="https://twitter.com/themefisher" aria-label="Twitter"><i
                          class="fab fa-twitter">&nbsp;&nbsp;&nbsp;&nbsp;Twitter</i></a>
                    </li>
                    <li><a href="https://instagram.com/themefisher" aria-label="Instagram"><i
                          class="fab fa-instagram"></i>&nbsp;&nbsp;&nbsp;&nbsp;Instagram</a></li>
                  </ul>
                </div><!-- Col end -->
              </div><!-- Row end -->
            </div><!-- Container end -->
          </div><!-- Footer end -->
    
          <!-- Javascript Files
      ================================================== -->
    
          <!-- initialize jQuery Library -->
          <script src="{% static '/plugins/jQuery/jquery.min.js' %}"></script>
          <!-- Bootstrap jQuery -->
          <script src="{% static '/plugins/bootstrap/bootstrap.min.js' %}" defer></script>
          <!-- Slick Carousel -->
          <script src="{% static '/plugins/slick/slick.min.js' %}"></script>
          <script src="plugins/slick/slick-animation.min.js"></script>
          <!-- Color box -->
          <script src="{% static '/plugins/colorbox/jquery.colorbox.js' %}"></script>
          <!-- shuffle -->
          <script src="{% static '/plugins/shuffle/shuffle.min.js' %}" defer></script>
    
          <!-- Google Map API Key-->
          <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU" defer></script>
          <!-- Google Map Plugin-->
          <script src="{% static '/plugins/google-map/map.js' %}" defer></script>
    
          <!-- Template custom -->
          <script src="{% static '/js/script.js' %}"></script>
    
          <!-- Botones temporales de mostrar y ocultar -->
          <script>
    
            function vistaGeneral() {
              $('.vista').each(function () {
    
                if ((this.style.display == 'none') && (this.id == 'general'))//funcion para validar si es un numero 
                  this.style.display = "inline";
                if ((this.style.display == 'inline') && ((this.id == 'registrado') || (this.id == 'admin')))//funcion para validar si es un numero 
                  this.style.display = "none";
    
              })
            }
            function vistaRegistra() {
              $('.vista').each(function () {
    
                if ((this.style.display == 'none') && (this.id == 'registrado'))//funcion para validar si es un numero 
                  this.style.display = "inline";
                if ((this.style.display == 'inline') && ((this.id == 'general') || (this.id == 'admin')))//funcion para validar si es un numero 
                  this.style.display = "none";
    
    
              })
            }
            function vistaAdministrador() {
              $('.vista').each(function () {
    
                if ((this.style.display == 'none') && (this.id == 'admin'))//funcion para validar si es un numero 
                  this.style.display = "inline";
                if ((this.style.display == 'inline') && ((this.id == 'general') || (this.id == 'registrado')))//funcion para validar si es un numero 
                  this.style.display = "none";
    
              })
            }
    
          </script>
    
      </div><!-- Body inner end -->
</body>

</html>